@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body {
    background-color: #C7DFAE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

button {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #394D32;
    padding: 13px 28px;
    height: 70px;
    min-width: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 75px;
}

.keyboard {      
    border: solid 4px #92b879;
    background-color: #f8fff3;
    box-shadow: 0 6px 0 rgba(43, 76, 1, 0.55), inset 0 0 100px rgb(250, 255, 247);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.keyboard:hover {
    box-shadow: 0 6px 0 rgba(43, 76, 1, 0.55), inset 0 0 60px rgb(176, 207, 159);
}

.keyboard:active {
    transform: translateY(6px);
    box-shadow: 0 0 0 rgba(43, 76, 1, 0.55), inset 0 0 30px rgb(176, 207, 159);
}

.special-keyboard {
    border: solid 4px #3a770f;
    color: #d2ecc0;
    background-color: #69a442;
    box-shadow: 0 6px 0 rgba(43, 76, 1, 0.55), inset 0 0 100px rgb(94, 161, 46);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.special-keyboard:hover {
    box-shadow: 0 6px 0 rgba(43, 76, 1, 0.55), inset 0 0 100px rgb(62, 131, 13);
}

.special-keyboard:active {
    transform: translateY(6px);
    box-shadow: 0 0 0 rgba(43, 76, 1, 0.55), inset 0 0 30px rgb(62, 131, 13);
}

.keyboard-arrow-key {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.up {
    padding: 10px 23px 0 23px;
    height: 30px;
}

.down {
    padding: 0 23px 10px 23px;
    height: 30px;
}

.w-32 {
    width: 400px;
    box-shadow: 0 6px 0 rgba(43, 76, 1, 0.55), inset 0 0 100px rgb(250, 255, 247);
}